APP_NAME=RagTest API
APP_VERSION=0.1.0
ENVIRONMENT=development
API_HOST=0.0.0.0
API_PORT=8000
QDRANT_URL=http://qdrant:6333
QDRANT_TIMEOUT_SECONDS=5
# QDRANT_API_KEY=defina_apenas_se_usar_qdrant_com_autenticacao
# QDRANT_IMAGE=qdrant/qdrant:latest
